<footer class="bg-black text-white">
  <div class="max-w-7xl mx-auto px-8 py-4">
    <div class="flex flex-col md:flex-row items-center justify-between gap-2">
      <p class="text-xs text-white/40">
        Taller ConQuito - Proyecto Final de Desarrollo Web Frontend
      </p>

      <p class="text-xs text-white/40 flex items-center gap-1">
        Hecho con

        <i
          data-lucide="heart"
          class="w-3 h-3 text-[#8A9A5B] fill-[#8A9A5B]"
        ></i>

        en Ecuador
      </p>
    </div>
  </div>
</footer>
